.blueBtn{
    margin: 10px 10px 10px 0px;
    background: #5865F2;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.whiteBtn{
    margin: 10px 10px;
    background: #EDEDED;
    color: #222222;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}