.list-movies-section{
    max-width: 1140px;
    margin: auto;
    width: 90%;

    header{ 
        text-align: center;
        width: 100%;
        
        h1{
            color: #222222;
            font-size: 40px;
        }
    
        P{
            width: 75%;
            color: #404040;
            margin: auto;
        }
    }

    
}

.filter-list-container{
    display: flex;
    min-height: 800px;
    width: 90%;
    margin: auto;

    @media screen and (min-width: 0px) and (max-width: 768px) {
        display: block;
    }

    .list-movies{
        display: flex;
        flex-wrap: wrap;
        max-width: 760px;
        
        margin: auto;

        @media screen and (min-width: 0px) and (max-width: 768px) {
            width: 100%;
            justify-content: center;
        }

        
        
        .movie-item{
            cursor: pointer;
            margin: 15px;
            width: 160px;
            text-align: center;
            
            img{
                border-radius: 10px;
                width: 100%;
                box-shadow: 0px 0px 3px #0000005b;
            }

            p{
                font-size: 14px;
                font-weight: bold;
            }

        }
    }    
}

.image-container{
    position: relative;
    height: 240px;
    
    .movie-vote-average{
        position: absolute;
        z-index: 3;
        color: white;
        bottom: 8%;
        right: 5%;
        background: #5865F2;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 0px 10px;
        font-size: 12px;

        svg{
            opacity: 1;
            position: initial;
            transform: none;
            font-size: 10px;
            margin-right: 5px;
        }
    }

    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 50px;
        z-index: 5;
        opacity: 0;
        transition: all 0.3s ease;
    }
}

.image-container:hover > svg{
    opacity: 1;
    transition: all 0.3s ease;
}

.image-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    height: 240px;
    width: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: all 0.3s ease;
}

.image-container:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 4;
    transition: all 0.3s ease;
}



.list-movie-user-input{
    margin-top: 15px;
    background: #121212;
    width: 20%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 700px) and (max-width: 768px) {
        background: none;
        margin: 15px auto;
        flex-direction: row;
        width: 90%;
        height: auto;
    }

    @media screen and (min-width: 0px) and (max-width: 700px) {
        background: none;
        margin: 15px auto;
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .title{
        text-align: left;
        color: #f9f9f9;
        width: 85%;
        font-size: 20px;
        text-transform: uppercase;
        @media screen and (min-width: 0px) and (max-width: 768px) {
            display: none;
        }
    }

    .search-input{
        background: #222222;
        color: white;
        height: 45px;
        border: 1px solid#f9f9f929;
        padding: 8px;
    }

    .search-input::placeholder{
        color: rgba(255, 255, 255, 0.479);
    }
    
    .genres-select, .sort-select, input{
        font-size: 15px;
        width: 85%;
        margin-top: 20px;

        @media screen and (min-width: 0px) and (max-width: 768px) {
            width: 100%;
            margin: 20px 10px;
            z-index: 5;
        }

        @media screen and (min-width: 0px) and (max-width: 700px) {
            width: 100%;
            margin: 5px 0px;
            .css-j38xwb-placeholder{
                line-height: 40px;
            }
        }
        
    }

    .genres-select{
        z-index: 5;
    }

}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}

