.list-movies-section{
    display: flex;
    width: 1140px;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    header{
        margin: 200px 0px 30px 0px;
        text-align: center;
        width: 70%;
        
        h1{
            color: #222222;
            font-size: 40px;
        }
    
        P{
            color: #404040;
        }
    }

    .list-movies{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;


        .movie-item{
            cursor: pointer;
            margin: 15px;
            width: 160px;
            text-align: center;
            img{
                border-radius: 10px;
                width: 100%;
                box-shadow: 0px 0px 3px #0000005b;
            }

            p{
                font-size: 14px;
                font-weight: bold;
            }

        }
    }
}

.movie-info{
    height: auto;
    min-height: 800px;
    width: 700px;
    background: #0e0e0e;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    z-index: 7;
    animation: fadeIn 0.5s ease;
    
    .movie-title{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #f9f9f9;
    }

    .text{
        margin-left: 20px;
        margin-top: 20px;
        width: 90%;
    }

    .list-genres{
        display: flex;

        .genre-item{
            margin: 10px 10px 10px 0px;
            font-size: 12px;
            background: #5865F2;
            border-radius: 10px;
            padding: 1px 10px;
        }
    }
}
.modal-container{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #23272abb;
    z-index: 6;
    cursor: pointer;
    left: 0;
    top: 0;
    animation: fadeIn 0.5s ease;
}

.image-container{
    position: relative;
    height: 240px;
    
    .movie-vote-average{
        position: absolute;
        z-index: 3;
        color: white;
        bottom: 8%;
        right: 5%;
        background: #5865F2;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 0px 10px;
        font-size: 12px;

        svg{
            opacity: 1;
            position: initial;
            transform: none;
            font-size: 10px;
            margin-right: 5px;
        }
    }

    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 50px;
        z-index: 5;
        opacity: 0;
        transition: all 0.3s ease;
    }
}

.image-container:hover > svg{
    opacity: 1;
    transition: all 0.3s ease;
}

.image-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    height: 240px;
    width: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: all 0.3s ease;
}

.image-container:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 4;
    transition: all 0.3s ease;
}





@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}

.filter-list-container{
    display: flex;
    width: 1140px;
    min-height: 800px;

    .title{
        text-align: left;
        color: #f9f9f9;
        width: 85%;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .list-movie-user-input{
        margin-top: 15px;
        background: #121212;
        width: 20%;
        height: 300px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    
    
        .search-input{
            background: #222222;
            color: white;
            height: 43px;
            border: 1px solid#f9f9f929;
            padding: 8px;
        }

        .search-input::placeholder{
            color: rgba(255, 255, 255, 0.479);
        }
        
        .genres-select, .sort-select, input{
            font-size: 15px;
            width: 85%;
            margin-top: 20px;
            
        }

        .genres-select{
            z-index: 5;
        }
   
    }

    .list{
        width: 100%;
    }
}