.next-movie-section{
    position: relative;
    height: 100vh;
}

.movie-info-container{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        z-index: 1;
        width: 30%;
        text-align: justify;
        .movie-title, .movie-tagline, .movie-extra, .movie-overview {
            color: white;
        }
        .movie-title{
            text-align: left;
            font-size: 65px;
            color: #ededed;
            letter-spacing: -0.02em;
        }

        .movie-tagline{
            color: #ededed;
            font-size: 25px;
        }

        .movie-extra{
            margin: 10px 0px;
        }

        .movie-overview{
            margin-bottom: 10px;
        }
        
}


.trailer-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: rgba(0, 0, 0, 0.904);
    cursor: pointer;
}

.next-movie-section::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}

.test{
    width: 100%; 
    height: 100%; 
}