.review_section{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
    max-width: 1140px;

    .review_container{
        .review{
            position: relative;
            overflow: hidden;
            width: 650px; 
            height: 450px;
            margin: auto;
            @media screen and (min-width: 0px) and (max-width: 768px) {
                width: 100%;
            }
            .review_list{
                display: flex;
                position: absolute;
                transition: all 0.5s ease;
                left: 0%;
                height: 100%;
                align-items: center;
                @media screen and (min-width: 0px) and (max-width: 768px) {
                    width: 300%;
                }
                 
                .review_item{
                width: 650px; 
                height: 245px;
                background: #222222;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;

                @media screen and (min-width: 0px) and (max-width: 768px) {
                    max-width: 650px;
                    width: 100%;
                  }
     
                    img{
                        position: absolute;
                        top: 10%;
                        border-radius: 50%;
                        object-fit: cover;
                        height: 115px;
                        width: 115px;
                        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 31%);
                        @media screen and (min-width: 0px) and (max-width: 768px) {
                            height: 100px;
                            width: 100px;
                        }
                    }
         
                    
                    .review_text{
                        width: 75%;
                        text-align: center;
                        margin-top: 15px;
                        color: #EDEDED;

                        @media screen and (min-width: 0px) and (max-width: 768px) {
                           margin-top: 10px;
                        }

                        .username{
                            font-weight: 900;
                            font-size: 20px;
                            width: auto;
                         }

                         .user_review_note{
                            background: #5865F2;
                            border-radius: 20px;
                            width: 110px;
                            font-size: 13px;
                            margin: 5px auto;
                         }
         
                        .user_review_text{
                            font-size: 16px;

                            @media screen and (min-width: 0px) and (max-width: 768px) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }     
        }
    }
}

%arrow{
    position: absolute;
    z-index: 3;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #EDEDED;
}

.counter-list{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 72%;

    .counter.active{
        background: #ffffff; 
    }
     
    .counter{
        width: 10px;
        height: 10px;
        background: #ffffff8f;
        border-radius: 50%;
        margin: 0px 5px;
    } 
}

.left_arrow{
    @extend %arrow;
}

.right_arrow{
    @extend %arrow;
    right: 0;   
}