.footer-section{
    display: flex;
    background: #222222;
    color: #939bf5;
    height: auto;
    align-items: center;
    flex-direction: column;

    .top-container-footer{
        display: flex;
        width: 70%;
        justify-content: space-between;
        margin: 50px 0px;
    }

    .newsletter{
        h3{
            font-size: 30px;
            width: 60%;
            margin-bottom: 25px;
            text-transform: uppercase;
        }

        .input{
            height: 45px;
            position: relative;
            display: flex;
            font-family: 'Inter';

            input{
                height: 100%;
                border-radius: 10px;
                padding: 10px;
                width: 100%;
            }

            .blueBtn{
                display: flex;
                align-items: center;
                border-radius: 10px;
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                margin: 0px;
            }

        }
    }
  

    div{
        h3{
            font-size: 18px;
            margin-bottom: 15px;
        }

        a{
            color: white;
        }
    }

    .under-footer{
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid;
        padding-top: 20px;

        h3{
            text-transform: uppercase;
            color: #f9f9f9;
            font-size: 25px;
        }

        svg{
            font-size: 25px;
            margin: 0px 5px;
            cursor: pointer;
        }
    }
}