@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$bg-dark-color: #222222; 
$title-dark-color: #222222; 
$text-dark-color: #404040; 
$text-blue-color: #99a1ff; 
$text-white-color: #f9f9f9; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

a{
    text-decoration: none;
}
body{
    background: #f9f9f9;
}

ul{
    list-style-type: none;
}

p, li{
    font-family: 'Poppins', sans-serif;
}

h3, button{
    font-family: "Inter", sans-serif;
}

h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #f9f9f9;
}

.title-section{
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #23272A;
    font-size: 35px;
    margin: 60px 0px 30px 0px;
}

.section-header{
    width: 60%;
    text-align: center;
    margin: 0px auto 20px auto;
    @media screen and (min-width: 0px) and (max-width: 850px){
        width: 95%;
    }

    .title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    color: $title-dark-color;
    }

    p{
        color: $text-dark-color;
    }
}

.noscroll{
    overflow: hidden;
}

input:focus{
    border: none;
    outline: none;
}

%position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}